#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE   0
#define EXTRA  1
#define TAP    2
#define BUTTON 3
#define NAV    4
#define MOUSE  5
#define MEDIA  6
#define NUM    7
#define SYM    8
#define FUN    9

// Mac clipboard shortcuts
#define U_RDO &kp LG(LS(Z))
#define U_PST &kp LG(V)
#define U_CPY &kp LG(C)
#define U_CUT &kp LG(X)
#define U_UND &kp LG(Z)

/ {
    behaviors {
        u_mt: u_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        u_lt: u_lt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        u_caps_word: u_caps_word {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp CAPS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_out_tog: u_out_tog {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&out OUT_TOG>, <&out OUT_USB>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_bt_sel_0: u_bt_sel_0 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&u_macro_bt_clr_0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_bt_sel_1: u_bt_sel_1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&u_macro_bt_clr_1>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_bt_sel_2: u_bt_sel_2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&u_macro_bt_clr_2>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_bt_sel_3: u_bt_sel_3 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&u_macro_bt_clr_3>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_bootloader: u_bootloader {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&bootloader>;
        };

        u_to_BASE: u_to_BASE {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to BASE>;
        };

        u_to_EXTRA: u_to_EXTRA {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to EXTRA>;
        };

        u_to_TAP: u_to_TAP {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to TAP>;
        };

        u_to_BUTTON: u_to_BUTTON {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to BUTTON>;
        };

        u_to_NAV: u_to_NAV {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to NAV>;
        };

        u_to_MOUSE: u_to_MOUSE {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to MOUSE>;
        };

        u_to_MEDIA: u_to_MEDIA {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to MEDIA>;
        };

        u_to_NUM: u_to_NUM {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to NUM>;
        };

        u_to_FUN: u_to_FUN {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to FUN>;
        };
    };

    macros {
        u_macro_bt_clr_0: u_macro_bt_clr_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_CLR>;
        };

        u_macro_bt_clr_1: u_macro_bt_clr_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_CLR>;
        };

        u_macro_bt_clr_2: u_macro_bt_clr_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_CLR>;
        };

        u_macro_bt_clr_3: u_macro_bt_clr_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_CLR>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
                &none  &kp Q         &kp W         &kp E          &kp R          &kp T            &kp Y          &kp U          &kp I          &kp O         &kp P            &none
                &none  &u_mt LGUI A  &u_mt LALT S  &u_mt LCTRL D  &u_mt LSHFT F  &kp G            &kp H          &u_mt RSHFT J  &u_mt RCTRL K  &u_mt RALT L  &u_mt RGUI SQT   &none
                &none  &lt BUTTON Z  &u_mt RALT X  &kp C          &kp V          &kp B            &kp N          &kp M          &kp COMMA      &u_mt RALT DOT &lt BUTTON FSLH  &none
                                                    &u_lt MEDIA ESC &u_lt NAV SPACE &u_lt MOUSE TAB  &u_lt SYM RET  &u_lt NUM BSPC &u_lt FUN DEL
            >;
        };

        extra {
            display-name = "EXTRA";
            bindings = <
                &none  &kp Q         &kp W         &kp F          &kp P          &kp B            &kp J          &kp L          &kp U          &kp Y         &kp SQT          &none
                &none  &u_mt LGUI A  &u_mt LALT R  &u_mt LCTRL S  &u_mt LSHFT T  &kp G            &kp M          &u_mt RSHFT N  &u_mt RCTRL E  &u_mt RALT I  &u_mt RGUI O     &none
                &none  &lt BUTTON Z  &u_mt RALT X  &kp C          &kp D          &kp V            &kp K          &kp H          &kp COMMA      &u_mt RALT DOT &lt BUTTON FSLH  &none
                                                    &u_lt MEDIA ESC &u_lt NAV SPACE &u_lt MOUSE TAB  &u_lt SYM RET  &u_lt NUM BSPC &u_lt FUN DEL
            >;
        };

        tap {
            display-name = "TAP";
            bindings = <
                &none  &kp Q  &kp W  &kp E    &kp R    &kp T      &kp Y    &kp U    &kp I      &kp O    &kp P     &none
                &none  &kp A  &kp S  &kp D    &kp F    &kp G      &kp H    &kp J    &kp K      &kp L    &kp SQT   &none
                &none  &kp Z  &kp X  &kp C    &kp V    &kp B      &kp N    &kp M    &kp COMMA  &kp DOT  &kp FSLH  &none
                                     &kp ESC  &kp SPACE &kp TAB    &kp RET  &kp BSPC &kp DEL
            >;
        };

        button {
            display-name = "BUTTON";
            bindings = <
                &none  U_UND      U_CUT      U_CPY       U_PST       U_RDO          U_RDO       U_PST       U_CPY       U_CUT      U_UND      &none
                &none  &kp LGUI   &kp LALT   &kp LCTRL   &kp LSHFT   &none          &none       &kp RSHFT   &kp RCTRL   &kp RALT   &kp RGUI   &none
                &none  U_UND      U_CUT      U_CPY       U_PST       U_RDO          U_RDO       U_PST       U_CPY       U_CUT      U_UND      &none
                                              &mkp MB3    &mkp MB1    &mkp MB2       &mkp MB2    &mkp MB1    &mkp MB3
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
                &none  &u_bootloader &u_to_TAP   &u_to_EXTRA  &u_to_BASE  &none          U_RDO         U_PST       U_CPY       U_CUT       U_UND       &none
                &none  &kp LGUI      &kp LALT    &kp LCTRL    &kp LSHFT   &none          &u_caps_word  &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &none
                &none  &none         &kp RALT    &u_to_NUM    &u_to_NAV   &none          &kp INS       &kp HOME    &kp PG_DN   &kp PG_UP   &kp END     &none
                                                 &none        &none       &none          &kp RET       &kp BSPC    &kp DEL
            >;
        };

        mouse {
            display-name = "MOUSE";
            bindings = <
                &none  &u_bootloader &u_to_TAP   &u_to_EXTRA  &u_to_BASE  &none          U_RDO         U_PST         U_CPY         U_CUT         U_UND       &none
                &none  &kp LGUI      &kp LALT    &kp LCTRL    &kp LSHFT   &none          &none         &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &none
                &none  &none         &kp RALT    &u_to_NUM    &u_to_NAV   &none          &none         &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT &none
                                                 &none        &none       &none          &mkp MB2      &mkp MB1      &mkp MB3
            >;
        };

        media {
            display-name = "MEDIA";
            bindings = <
                &none           &u_bootloader &u_to_TAP   &u_to_EXTRA  &u_to_BASE  &none          &none          &none          &none          &none          &none          &none
                &none           &kp LGUI      &kp LALT    &kp LCTRL    &kp LSHFT   &none          &none          &kp C_PREV     &kp C_VOL_DN   &kp C_VOL_UP   &kp C_NEXT     &none
                &studio_unlock  &none         &kp RALT    &u_to_NUM    &u_to_NAV   &none          &u_bt_sel_0    &u_bt_sel_1    &u_bt_sel_2    &u_bt_sel_3    &u_out_tog     &none
                                                          &none        &none       &none          &kp C_STOP     &kp C_PP       &kp C_MUTE
            >;
        };

        num {
            display-name = "NUM";
            bindings = <
                &none  &kp LBKT   &kp N7  &kp N8  &kp N9  &kp RBKT       &none  &u_to_BASE   &u_to_EXTRA  &u_to_TAP   &u_bootloader  &none
                &none  &kp SEMI   &kp N4  &kp N5  &kp N6  &kp EQUAL      &none  &kp RSHFT    &kp RCTRL    &kp RALT    &kp RGUI       &none
                &none  &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp BSLH       &none  &u_to_NUM    &u_to_NAV    &kp RALT    &none          &none
                                          &kp DOT &kp N0  &kp MINUS      &none  &none        &none
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
                &none  &kp LBRC   &kp AMPS  &kp ASTRK  &kp LPAR   &kp RBRC       &none  &u_to_BASE   &u_to_EXTRA  &u_to_TAP   &u_bootloader  &none
                &none  &kp COLON  &kp DLLR  &kp PRCNT  &kp CARET  &kp PLUS       &none  &kp RSHFT    &kp RCTRL    &kp RALT    &kp RGUI       &none
                &none  &kp TILDE  &kp EXCL  &kp AT     &kp HASH   &kp PIPE       &none  &u_to_NUM    &u_to_NAV    &kp RALT    &none          &none
                                            &kp LPAR   &kp RPAR   &kp UNDER      &none  &none        &none
            >;
        };

        fun {
            display-name = "FUN";
            bindings = <
                &none  &kp F12  &kp F7  &kp F8  &kp F9  &kp PSCRN            &none  &u_to_BASE   &u_to_EXTRA  &u_to_TAP   &u_bootloader  &none
                &none  &kp F11  &kp F4  &kp F5  &kp F6  &kp SLCK             &none  &kp RSHFT    &kp RCTRL    &kp RALT    &kp RGUI       &none
                &none  &kp F10  &kp F1  &kp F2  &kp F3  &kp PAUSE_BREAK      &none  &u_to_NUM    &u_to_NAV    &kp RALT    &none          &none
                                        &kp K_APP &kp SPACE &kp TAB           &none  &none        &none
            >;
        };

        extra_1 {
            status = "reserved";
        };

        extra_2 {
            status = "reserved";
        };
    };
};
